root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.html]
indent_style = space
indent_size = 4

[*.{pug,css,sass,js,php}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = space
indent_size = 4

[*.php]
indent_style = space
indent_size = 4
