@media(max-width: 1200px)
	.intro
		&__title
			font-size: 120px
		&__suptitle
			font-size: 52px
@media(max-width: 990px)
	.intro
		&__title
			font-size: 80px
		&__suptitle
			font-size: 32px
@media(max-width: 770px)
	.nav
		display: none
	.slider
		&__text
		display: none
		&__item.active:before
			width: 50%
		&__section
			padding: 40px 0
@media(max-width: 575px)
	.intro
		&__title
			font-size: 40px
		&__suptitle
			font-size: 22px
	.section
		&__title
			font-size: 24px
			&:after
				margin: 20px auto
		&__suptitle
			font-size: 24px
		&__header
			margin-bottom: 50px
